<form  method="POST" enctype="multipart/form-data">
  <label for="title-input">Title</label>
  <input type="text" name="title" id="title-input" placeholder="Photo Title" />

  <label for="photo-input">Photo</label>
  <input id="photo-input" type="file" name="photo"/>

  <label for="content-input">Description</label>
  <textarea name="content" id="content-input" placeholder="Text"></textarea>
</form>